* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
.container{
	max-width: 100%;
}
h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}
li{
	list-style: none;
}
.home-view{
	max-width: 100%;
}
.header{
	max-width: 100%;
	background-color: gray;
	.buttons{
		display: inline-block;
		align: center;
		.button{
			padding-right: 5px;
		}
	}
	.currentUser{
		display: inline-block;
		color: white;
		align: right;

	}
}

.post{
	border: solid gray 2px;
	padding-left: 10px;
}
.post-view{
     margin: auto;
     width: 900px; 
}
.body-input{
	height: 200px;
	width: 400px;
	display: block;
}
.title-input{
	width: 400px;
	display: block;
}
.post-input{
	margin-top: 15px;
	display: block;
}
